body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    font-size: 4em;
    background-color: rgb(93, 205, 240);
}

nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1em;
    background-color: rgb(189, 255, 255);
}

.firstBox {
    display: flex;
}

.pinkHair {
    width: 100%;
    height: auto;
}

.secondBox {
    display: flex;
}

.pinkAndBlueHair,
.pinkLightHair {
    display: flex;
    width: 50%;
}

.thirdBox {
    display: flex;
}

.greyScaleHair,
.longCurledHair,
.highlightWithHair {
    display: flex;
    width: 33.3333%;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
}