body {
    margin: 0;
    padding: 0;
    font-family: 'Ibarra Real Nova', 'Gill Sans', 'Gill Sans MT';
    background-image: url("https://images.unsplash.com/photo-1580610447943-1bfbef5efe07?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: cover;
    background-size: auto;
}

header {
    font-family: 'Henny Penny', 'Gill Sans', 'Gill Sans MT';
    display: flex;
    justify-content: center;
    font-size: 6em;
    color: rgb(182, 140, 233);
    padding-top: 2rem;
    background-color: rgba(112, 81, 112, 0.55);
}

nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.5em;
    font-family: 'Montserrat Subrayada', 'Gill Sans', 'Gill Sans MT';
    background: linear-gradient(to top, rgb(0, 0, 0), transparent 80%);
    margin-left: 2rem;
    margin-right: 2rem;
    color: rgb(211, 231, 231);
}

p {
    color: rgb(211, 231, 231);
}

.firstBox {
    display: flex;
}

.pinkHair {
    width: 100%;
    height: auto;
}

.secondBox {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0 4rem 0;
}

.pinkAndBlueHair,
.pinkLightHair {
    display: flex;
    width: 40%;
    border-radius: 25px;
    border: 25px;
}

.thirdBox {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0 4rem 0;
}

.greyScaleHair,
.longCurledHair,
.highlightWithHair {
    display: flex;
    width: 30%;
    border-radius: 250px;
    border: 25px;
}

.fourBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.hairOne {
    font-size: 3rem;
    font-weight: 900;
}

.fiveBox {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, 
    rgba(255,255,255,1) 15%, 
    rgba(255,255,255,1) 26%, 
    rgba(255,255,255,0) 25%, 
    rgba(255,255,255,0) 35%, 
    rgba(255,255,255,0) 65%, 
    rgba(255,255,255,0) 74%, 
    rgba(255,255,255,1) 74%, 
    rgba(255,255,255,1) 85%, 
    rgba(255,255,255,0) 100%);
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.contact {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    border-bottom: .2rem solid;
    border-top: .2rem solid;
}

input {
    width: 35rem;
    font-family: 'Ibarra Real Nova', 'Gill Sans', 'Gill Sans MT';
}

#writeAMessage {
    height: 15rem;
    align-items: center;
    justify-content: center;
    text-align: start;
}


#contactName,
#email,
#subject,
#writeAMessage {
    font-size: 1.5em;
}

#buttonForContact {
    display: flex;
    align-self: center;
    padding-top: 1rem;
    width: 10rem;
    height: 2rem;
}

#contactButton {
    font-size: 1.2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1em;
    font-family: 'Montserrat Subrayada', 'Gill Sans', 'Gill Sans MT';
    background: linear-gradient(to top, rgb(0, 0, 0), transparent 80%);
}