body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    font-size: 4em;
    background-color: rgb(93, 205, 240);
}

nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.5em;
    background-color: rgb(189, 255, 255);
}

.firstBox {
    display: flex;
}

.pinkHair {
    width: 100%;
    height: auto;
}

.secondBox {
    display: flex;
}

.pinkAndBlueHair,
.pinkLightHair {
    display: flex;
    width: 50%;
}

.thirdBox {
    display: flex;
}

.greyScaleHair,
.longCurledHair,
.highlightWithHair {
    display: flex;
    width: 33.3333%;
}

.fourBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.fiveBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

input {
    width: 35rem;
}

#writeAMessage {
    height: 10rem;
    align-items: center;
    justify-content: center;
    text-align: start;
}


#contactName,
#email,
#subject,
#writeAMessage {
    font-size: 1.5em;
}


footer > nav  {
    display: flex;
    color: rgb(180, 240, 225)(0, 255, 136);
    justify-content: initial;
    align-self: stretch;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1em;
    background-color: rgb(9, 58, 58);
}